<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <h1>Bienvenido a mi tienda</h1>
    </header>

    <!-- Aquí se insertará el contenido de cada página -->
    {{{body}}}

    <footer>
        <p>&copy; 2025 Mi tienda</p>
    </footer>
</body>

</html>